.nav-bar ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    overflow: hidden;
    /* background-color: #d6c5b9; */
}

.slideshow-row{
    display: flex;
  justify-content: space-between;
  animation-duration: 15s; /* Increase the duration for slower animation */
  animation-iteration-count: infinite;
  padding:30px;
}

.nav-bar-text{
    color:black;
    text-decoration: none;
    padding:30px;
    display: block;
    text-align: center;
    font-family: 'Montserrat';
    font-size:20px;
}

.nav-bar-text:hover {
    color: #b49375 !important;
    border-radius: 50px;
    border-color: #b49375 !important;
    transition: all 0.5s ease 0s;
}

.nav-bar-item-home {
    float:left;
}

.nav-bar-item-other {
    float:right;
}






