.nav-bar ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    /* background-color:#383838; */
    overflow: hidden;
}

.nav-bar-text{
    color:#674e38;
    text-decoration: none;
    padding:30px;
    display: block;
    text-align: center;
    font-family: 'Montserrat';
    font-size:20px;
    font-weight: bold;
}

.nav-bar-text:hover {
    color: #b49375 !important;
    border-radius: 50px;
    border-color: #b49375 !important;
    transition: all 0.5s ease 0s;
}

.nav-bar-item-home {
    float:left;
}

.nav-bar-item-other {
    float:right;
}




