.HeadWriter {
    /* margin: 40px; */
    text-align: center;
    font-size: 100px;
    padding: 100px;
    font-family: "Montserrat";
    color:black;
}

.BodyWriter {
    margin: 40px;
    text-align: center;
    font-size: 35px;
    font-family: "Montserrat";
    
}

.type-writer-head {
    font-family: "Montserrat";
    color:#36291d;
    
}

.type-writer-body {
    font-family: "Montserrat";
    color:#a3a3a3;
    
}

.class-writer-bg {
    /* background-color:#685f4d; */
}
