.HeadWriter {
    /* margin: 40px; */
    text-align: center;
    font-size: 100px;
    padding: 100px;
    
}

.BodyWriter {
    margin: 40px;
    text-align: center;
    font-size: 35px;
    
}

.type-writer-head {
    font-family: "Montserrat";
    color:#36291d;
    
}

.type-writer-body {
    font-family: "Montserrat";
    color:#a3a3a3;
    
}

.class-writer-bg {
    background-color:#e7d5b8;
}
